---
layout: page
title: ""
---

<h1>About me</h1>
<!--Image container start-->
<div class="box">
  <img src="images/me.jpg" alt="Aria Killebrew Bruehl" style="width:200px; height:200px;
  margin: 0px;">
  <img src="images/interlaken_lake.jpg" alt="Interlaken Lake" style="width:200px; height:200px; 
  margin: 0px;">
  <img src="images/swan.jpg" alt="Swan" style="width:200px; height:200px;
  margin: 0px;">
  <img src="images/mt_hood.jpg" alt="Mt Hood" style="width:200px; height:200px;
    margin: 0px;">
</div>
<!--Image container end-->

<!--Text container start-->
<div>
  <p> I am Berkeley born and raised and currently living in Portland, Oregon. I graduated from Reed College
  in May of 2023 with a BA in Computer Science and a minor in French. </p>
</div>
<!--Text container end-->
<br>

<h1>Portfolio</h1>
  {% if site.show_excerpts %}
  {% include home.html %}
  {% else %}
  {% include archive.html title="Portfolio" %}
  {% endif %}

