---
layout: page
title: "About Me"
---

<!--Image container start-->
<div class="box">
  <img src="images/me.png" alt="Aria Killebrew Bruehl" style="float: left; 
  margin: 5px;">
</div>
<!--Image container end-->

<!--Text container start-->
<div>
  <p> I am Berkeley born and raised and currently living in Portland, Oregon. I graduated from Reed College
  in May of 2023 with a BA in Computer Science and a minor in French. </p>
</div>
<!--Text container end-->

 <!--- 
  {% if site.show_excerpts %}
  {% include home.html %}
  {% else %}
  {% include archive.html title="Portfolio" %}
  {% endif %}
-->

